@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --mu-maroon:      #7B0101;
    --mu-red:         #B80102;
    --mu-rosso:       #DA0106;
    --mu-yellow:      #FFE600;
    --mu-tangerine:   #EF9101;
    --mu-persimmon:   #E14F01;
}

body
{
    background-color: var(--mu-maroon);
    font-family: "Montserrat", sans-serif;
    color: white;
}

#headerImg
{
    width: 100%;
    box-shadow: 0 5px 10px rgba(1, 1, 1, 0.25);
}

.cardContainer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.outerCard
{
    border: 2px solid var(--mu-yellow);
    width: 300px;
    height: 475px;
    margin: 15px;
    background-color: var(--mu-red);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
    transition: background-color .5s ease;
}

.card
{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 2px solid var(--mu-yellow);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.outerCard:hover
{
    background-color: var(--mu-tangerine);
}

.card p
{
    text-align: center;
}

.position
{
    display: flex;
    justify-content: space-between;
    width: 100%;

}

.position h2
{
    color: var(--mu-maroon);
    font-size: 1.25em;
    font-weight: bold;
}

.position h3
{
    font-size: 1.25em;
    font-style: italic;
}

.playerName
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid var(--mu-yellow);
}

.playerName h3
{
    color: var(--mu-rosso);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.pointContainer
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: 100%;    
}

.statPrice h3
{
    font-weight: bold;
}

.infoCol
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-top: 2px solid var(--mu-yellow);
}

.infoCol p, .infoCol h3
{
    margin: 0;
}

.infoCol h3
{
    font-size: 3em;
    color: var(--mu-tangerine);
}

.teamInfo
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid var(--mu-yellow);
    border-bottom: 1px solid var(--mu-yellow);
}

.teamName p
{
    margin: 0;
}

.teamName h3
{
    font-size: 1.5em;
    text-align: center;
}

.teamInfo:hover .clubInfo
{
    max-height: 100px;
    opacity: 1;

}

.rowDiv
{
    display: flex;
    flex-direction: row;

}

.clubInfo
{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    transition: max-height 0.6s ease, opacity 0.4s ease
}

.clubInfoCol
{
    display: flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
}

.hiddenText
{
    font-size: 1em;
}

.footerBtnCont
{
    background-color: var(--mu-red);
    border-top: 2px solid var(--mu-yellow);
    border-bottom: 2px solid var(--mu-yellow);

    max-height: 200px;
    padding-left: 80px;
    margin-top: 35px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footerButtons
{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.footerButtons li, a
{
    list-style: none;
    color: white;
    font-size: 1.25em;
    text-decoration: none;

    margin-right: 20px;
    transition: ease .25s ;
}

.footerBtnCont a:hover
{
    color: var(--mu-tangerine);
}


#imgBg
{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    width: 400px;
}

#premierLogo
{
    max-height: 199px;
}

footer
{
    margin-top: 10px;
    background-color: var(--mu-maroon);
    border-bottom: 2px solid var(--mu-yellow);
    color: white;
    display: flex;
    justify-content: center;
}

